workingPath = PATH_TO_SPECIFY_DIR
driver = DB_DRIVER_CLASS_NAME
dialect = HIBERNATE_DB_DIALECT
databaseName = DATABASE_NAME
connectionUrl = CONNECTION_URL
dbUserName = DB_USERNAME
dbPassword = DB_PASSWORD
specifyUserName = SPECIFY_USERNAME
specifyPassword = SPECIFY_PASSWORD